/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.clearfix{
    clear: both;
    float: none;
}

.hide {
    display: none;
}

a{
    text-decoration: none;
}

.white{
    color: white;
}

.pink {
    color: #ff6b81;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-address-order{
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}

.btn-address-order:hover{
    background-color: #3742fa;
}

.btn-disabled{
    background-color: #a7a3a3;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}

.btn-login {
    padding: 15px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #3742fa;
}

.btn-{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.row {
    display: flex;
}

h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

/* for menu */
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* for search */
.product-search{
    background-image: url(../images/for-web/background.jpeg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.product-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.product-search .container a {
    color: white;
}

/* for Menu */

.menu {
    width: 60%;
    float: right;
}

nav {
    position: relative;
}

nav .line {
    height: 2px;
    position: absolute;
    margin-left: 5px;
    background: #FF1847;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  nav ul li {
    margin: 0 40px 0 0;
    opacity: 0.4;
    transition: all 0.4s ease;
  }
  nav ul li:hover {
    opacity: 0.7;
  }
  nav ul li.active {
    opacity: 1;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  nav ul li a {
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 14px;
  }

.product-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.product-detail{
    font-size: 1rem;
    color: #747d8c;
    max-height: 70px;
    overflow-y: hidden;
}

/* for Categories */
.categories{
    padding: 4% 0;
}

.container-category-center {
    width: 1180px;
    margin: 0 auto;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    transition: 0.3s ease-in;
}

.box-3:hover {
    transform: scale(1.1);
}

/* for food-menu */

.product-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.product-menu-box{
    width: 43%;
    height: 160px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.product-menu-img{
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
}

.product-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.product-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.product-detail{
    font-size: 1rem;
    color: #747d8c;
    max-height: 70px;
    overflow-y: hidden;
}

/* for socical */

.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.product-order {
    background-color: #ececec;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-order .container h2 {
    color: black;
}

.order{
    width: 50%;
    margin: 0 auto;
}

.input-responsive{
    width: 96%;
    height: 35px;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.total-container {
    margin: 0 auto;
}

.group-info {
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-bottom: 30px;
    font-size: 18px;
}

fieldset .input-responsive {
    background-color: #fff;
}

.group-address {
    margin-bottom: 20px;
}

.group-address span {
    width: 80%;
    margin-top: 17px;
    float: left;
}

.group-address button {
    margin: 10px 0 0 20px
}

.group-address input[type="radio"] {
    margin: 20px 20px 0px 40px;
    transform: scale(1.4);
    float: left;
}

/* css for login */
.login {
    background-color: #ececec;
}

.login form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.input-login {
    margin: 40px 0 40px 0;
}

.input-login a {
    float: left;
}

.input-login a:last-child {
    float: right;
}

/* css for form register*/


.register{
    background-color: #ececec;
}

.register form {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.register .input-login {
    width: 450px;
    padding: 0 25px 0 25px;
    float: left;
}

/* css for update user */
#username {
    padding: 5px 0 10px 10px;
}

/* css for account details page */

.child-menu {
    margin: 0 auto;
    width: 620px;
}

.child-menu ul {
    list-style-type: none;
}

.child-menu li {
    float: left;
    margin-right: 40px;
    border-bottom: 3px solid #ececec;
    padding-bottom: 15px;
    transition: 0.3s all;
}

.child-menu li:hover {
    border-bottom: 3px solid #ff4757;
    color: #ff4757;
}

.child-menu li:last-child {
    margin-right: 0;
}

.child-menu li a{
    text-decoration: none;
    color: #ff4757;
    font-size: 18px;
}

/* css for manager order */
.tbl-manager {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.tbl-manager tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    margin-left: 100px;
}

.tbl-manager tr td {
    padding: 1%;
}

.tbl-manager tr td:last-child {
    width: 9.5em;
}

.tbl-manager tr td:last-child a{
    width: 100px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}

menu-filter ul{
    list-style-type: none;
    font-size: 18px;
}

.menu-filter ul li{
    font-size: 18px;
    float: left;
    margin-right: 30px;
    color: #000;
    border-bottom: 3px solid #f1f2f6;
    transition: 0.2s all;
}

.menu-filter ul li:hover{
    border-bottom: 3px solid #ff6b81;
    color: #ff6b81;
}

.day-order {
    width: 120px;
}

.select-link {
    font-size: 16px;
}

.white-row {
    background-color: white;
}
/* css load product */
#load-product:hover {
    cursor: pointer;
}