/* CSS for All */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}

.clear-fix {
    float: none;
    clear: both;
}

.pink {
    color: #ff6b81;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}

.white {
    background-color: white;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.btn-200 {
    width: 150px;
    border: 0;
}

.btn-primary {
    background-color: #1e90ff;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary {
    background-color: #347D39;
    border: 0;
    padding: 1%;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
}

.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger {
    background-color: #ff6b81;
    padding: 1%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn-danger:hover{
    background-color: #ff4758;
}

.clearfix{
    clear: both;
    float: none;
}


a{
    text-decoration: none;
}

select {
    border: 0;
}

button:hover {
    cursor: pointer;
}

/* css for menu */
.menu {
    margin: 0;
    border-bottom: 1px solid;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 1%;
    display: inline;
}

.menu ul li a {
    color: #ff6b81;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ff4757;
}
/* css main */

.main {
    background-color: #f1f2f6;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid;
}
.main .item-details {
    background-color: #fff;
    padding: 1%;
    margin: 2%;
    width: 300px;
}

.main .item-details h1 {
    padding: 20px;
}

/* css for table manager */

.tbl-manager {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.tbl-manager tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    margin-left: 100px;
}

.tbl-manager tr td {
    padding: 1%;
}

.tbl-manager tr td:last-child {
    width: 16em;
}

.tbl-manager tr td:last-child a{
    width: 100px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}


/* for social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

 /* css for form and input */
.main form {
    width: 40%;
    margin: 0 auto;
}

 .group-input{
    margin: 20px;
    width: 100%;
 }

 .group-input p {
     text-align: left;
 }

 .group-input p:last-child {
    text-align: left;
    margin: 5px 0 0 10px;
}

 .group-input input[type="submit"] {
   padding: 15px;
   font-size: 16px;
   border: 0;
   margin: 0 auto;
}

.group-input input[type="radio"] {
    margin: 10px 5px 10px 20px;
}

.group-input textarea {
    border: 0;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
}

.format-ip {
    border: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
}

.group-input input[type="submit"]:hover {
    cursor: pointer;
}


/* css for image category */
.img-category {
    border-radius: 10px;
}

.input-file {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.input-file:hover {
    cursor: pointer;
}

.input-file input[type='file'] {
    display: none;
}

#img-review {
    width: 470px;
    height: 310px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow-y: hidden;
}

#img-review p {
    text-align: center;
    line-height: 310px;
    font-size: 20px;
    color: gray;
}

.format-img-review {
    position: relative;
    left: 85px;
    top: 5px;
    line-height: 310px;
}

/* css for product */
.description {
    min-width: 100px;
    max-width: 250px;
    text-align: justify;
}

.limit-height {
    max-height: 109px;
    overflow: hidden;
}

.name-product {
    width: 150px;
}

/* css for add product */
.main .add-product {
    width: 1000px;
}

.add-product .col-info-product {
    width: 45%;
    padding: 2.5%;
    margin: 0 auto;
    float: left;
}

.slider-content {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

.my-slides {
    transition: 0.3s all;
}

.hide {
    display: none;
}

.slider-control {
    position: relative;
    bottom: 80px;
    text-align: center;
}

.btn-slider-small {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #ff4758;
    display: inline-block;
    margin: 6px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-slider-small:hover {
    transform: scale(1.2);
}

.forcus {
    background-color: #ff4758;
}

#btn-update-image {
    width: 150px;
}

/* css for manager order */

.menu-filter ul{
    list-style-type: none;
    font-size: 18px;
}

.menu-filter ul li{
    font-size: 18px;
    float: left;
    margin-right: 30px;
    color: #000;
    border-bottom: 3px solid #f1f2f6;
    transition: 0.2s all;
}

.menu-filter ul li:hover{
    border-bottom: 3px solid #ff6b81;
    color: #ff6b81;
}

.day-order {
    width: 120px;
}

.select-link {
    font-size: 16px;
}

/* css for update order */
#form-updade-order {
    width: 1000px;
}

.statis-info {
    float: left;
    width: 50%;
}

.dynamic-info {
    float: left;
    width: 50%;
}

.group-info {
    width: 100%;
    font-size: 16px;
    margin: 20px;
}

.group-info p{
    padding: 10px 0 10px 0;
}
/* css for login */
.login {
    background-color: #ececec;
}

.login form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.input-login {
    margin: 40px 0 40px 0;
}

.input-login a {
    float: left;
}

.input-login a:last-child {
    float: right;
}

/* css for nofication */
.notification {
    background-color: rgba(51, 51, 51, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
}

.main-notification {
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 200px;
}

.list-notification {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}

.list-notification li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #111;
    text-align: center;
}

.list-notification li:hover {
   cursor: pointer;
   background-color: #ececec;
}

.list-notification li a {
    font-size: 18px;
    color: #111;
}

.main-notification button {
    width: 150px;
    height: 40px;
    border: 0;
    margin: 0 auto;
}

button span {
    font-size: 16px;
}

.on-notification {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: red;
    border: 2px solid #ececec;
    position: relative;
    z-index: 10px;
    top: 12px;
    left: 138px;
}

.hide {
    display: none;
}