/* CSS for All */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}

.clear-fix {
    float: none;
    clear: both;
}

.pink {
    color: #ff6b81;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}

.white {
    background-color: white;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.btn-200 {
    width: 150px;
}

.btn-primary {
    background-color: #1e90ff;
    padding: 1%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary {
    background-color: #b7ed9f;
    border: 0;
    padding: 1%;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger {
    background-color: #ff6b81;
    padding: 1%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn-danger:hover{
    background-color: #ff4758;
}

a{
    text-decoration: none;
}

/* css for menu */
.menu {
    margin: 0;
    border-bottom: 1px solid;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 1%;
    display: inline;
}

.menu ul li a {
    color: #ff6b81;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ff4757;
}
/* css main */

.main {
    background-color: #f1f2f6;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid;
}
.main .item-details {
    background-color: #fff;
    padding: 1%;
    margin: 2%;
    width: 300px;
}

.main .item-details h1 {
    padding: 20px;
}

/* css for table manager */

.tbl-manager {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.tbl-manager tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    margin-left: 100px;
}

.tbl-manager tr td {
    padding: 1%;
}

.tbl-manager tr td:last-child {
    width: 16em;
}

.tbl-manager tr td:last-child a{
    width: 100px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}


/* for social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

 /* css for form and input */
.main form {
    width: 40%;
    margin: 0 auto;
}

 .group-input{
    margin: 20px;
    width: 100%;
 }

 .group-input p {
     text-align: left;
 }

 .group-input p:last-child {
    text-align: left;
    margin: 5px 0 0 10px;
}

 .group-input input[type="submit"] {
   padding: 15px;
   font-size: 16px;
   border: 0;
   margin: 0 auto;
}

.group-input input[type="radio"] {
    margin: 10px 5px 10px 20px;
}

.format-ip {
    border: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
}

.group-input input[type="submit"]:hover {
    cursor: pointer;
}


/* css for image category */
.img-category {
    border-radius: 10px;
}

.input-file {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.input-file:hover {
    cursor: pointer;
}

.input-file input[type='file'] {
    display: none;
}

#img-review {
    width: 470px;
    height: 310px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow-y: hidden;
}

#img-review p {
    text-align: center;
    line-height: 310px;
    font-size: 20px;
    color: gray;
}

.format-img-review {
    position: relative;
    left: 85px;
    top: 5px;
    line-height: 310px;
}